/*
author:linjie1@kingsoft.com
modified date : 2015/11/9
*/

@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.floatleft { float: left; }
.floatright { float: right; }
.center { text-align: center; }
.clearboth { clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
a { text-decoration: none; outline: none; }
ul, li { list-style:none}
table { border-collapse: collapse; border-spacing: 0; }
select, select:focus, a:focus, input:focus, select:focus, textarea:focus, a, input, select, textarea, button,
a::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner {
	outline: none;
	outline-width: 0;
}
/* 禁用iPhone中Safari的字号自动调整 */
img, object  { max-width: 100%; height: auto; width: auto; /* ie8 */ }
.video embed, .video object, .video iframe { width: 100%; height: auto; }
body { background: #e8e8e8; line-height: 1; font-family: SimHei,'Microsoft Yahei', arial, helvetica, sans-serif; font-size: 62.5%; color: #4c4c4c; }
p { line-height: 2; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
p {font-size: 1em; }
small { font-size: 0.6em; }
/* OPERA FIX */
html,body,.area{
	width: 100%;
}
@media screen and (min-width:640px){  /* 浏览器宽度大于640像素，执行以下代码 */
	.area{ width: 640px; margin:0 auto; position: relative; }
}
@media screen and (max-width:635px){  /* 浏览器宽度小于635像素，执行以下代码 */	
	.area{ width:100%; margin:0 auto; position: relative; }
}


.header {
	position: relative;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	height: 5em;
	background: #202635;
	text-align: left;
	z-index: 3;
}
.header .title {
	position: absolute;
	left: 3%;
	top: 0.5em;
	color: #fff;
	font-weight: normal;
}
.logo img {
	height: 4em;
}
.header .title span {
	vertical-align: .8em;
	font-size: 1.8em;
	margin-left: .5em;
}
.download {
	position: absolute;
	right: 2%;
	top: 18%;
	width: 30%;
	height: 65%;
	line-height: 35px;
	background: #b62f33;
	color: #fff;
	font-size: 1.7em;
	text-align: center;
	border-radius: 4px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.page {
	position: relative;
	width: 100%;
}
.order, .download_2 {
	position: absolute;
	left: 22%;
	display: block;
	width: 56%;
	height: 9%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.order {
	top: 73%;
}
.download_2 {
	top: 84%;
}
.news_link {
	height: 7em;
	line-height: 7em;
	text-align: center;
	background: #ebecef;
}
.news_link a {
	font-size: 1.8em;
	color: #d92535;
	text-decoration: underline;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	font-family: 'Microsoft Yahei';
}
.news_list ul {
	background: #fff;
	padding-bottom: 3em;
}
.news_list li {
	width: 100%;
	height: 2em;
	text-align: left;
	background: url(../Images/list_style.png)  no-repeat .5em 2em;
	padding: 2em 1em 3em 3em; 
	box-sizing: border-box;
	border-bottom: 1px solid #d9dbdf;
}
.news_list li a {
	font-size: 1.4em;
	color: #5b6375;
}
.news_date {
	float: right;
}
.footer {
	width: 100%;
	height: 18em;
	padding: 4em 10%;
	box-sizing: border-box;
	background: #313a50;
}
.footer img {
	float: left;
	max-width: 40%;
	max-height: 10em;
}
.footer_r {
	float: right;
	color: #fff;
	width: 55%;
}
.footer_r h1 {
	font-size: 2em;
}
.footer_r h2 {
	font-size: 1.5em;
	margin: .6em 0;
}
.footer p {
	color: #fff;
	font-size: 1.4em;
	line-height: 1.4;
}
.footer_r a {
	display: block;
	width: 80%;
	height: 2.4em;
	line-height: 2.4em;
	text-align: center;
	background: #44b216;
	border-radius: 5px;
	color: #fff;
	font-size: 1.8em;
}

/*新闻内页*/
.news {
	width: 100%;
	height: auto;
	overflow: hidden;
	min-height: 100%;
	background: #313a50;
	text-align: center;
}
.news_con {
	width: 90%;
	margin: 0 auto;
	color: #b3c1e1;
	padding-top: 2em;
}
.news_con .news_detail_title {
	font-size: 1.6em;
	color: #fff;
	font-weight: normal;
	line-height: 1.2;
}
.news_con .news_detail_date {
	font-size: 1.4em;
	margin: .6em 0 2em;
	font-weight: normal;
}
.news_detail_con {
	text-align: left;
	font-size: 1.4em;
	line-height: 1.2;
}
.back {
	width: 55%;
	height: 4em;
	line-height: 4em;
	margin: 1em auto 3em;
	border-radius: .5em;
	background: #536388;
}
.back_link {
	color: #b3c1e1;
	font-size: 1.5em;
}
.news_detail_con strong {
	font-weight: bold;
}

.news_detail_con th {
	padding: 4px;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.2;
	color: #b3c1e1;
}

/*预约内页*/
.order_inside {
	width: 100%;
	min-height: 100%;
	background: #313a50;
	text-align: center;
}
.order_step_1,.order_step_3 {
	padding-top: 8em;
}
.order_step_1 h1,.order_step_3 h1 {
	font-size: 1.8em;
	color: #ced7ff;
	font-weight: normal;
	line-height: 1.8;
}
.order_step_1 form {
	width: 75%;
	margin: 1em auto 0;
	text-align: left;
}
.tel_num {
	width: 60%;
}
.code_num, .row ,.account,.password{
	width: 100%;
}
.get_code,.get_vcode {
	float: right;
	display: block;
	width: 40%;
	height: 2em;
	line-height: 2em;
	color: #fff;
	font-size: 1.4em;
	background: #7dc23a;
	text-align: center;
	-webkit-appearance: none;
}
.get_vcode img{height:100%;width:100%;}
::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #2e374f; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #2e374f; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #2e374f; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #2e374f; 
} 
.tel_num, .code_num,.account,.password {
	height: 2em;
	line-height: 2em;
	border: none;
	outline: none;
	background: #5a698c;
	font-size: 1.4em;
	color: #2e374f;
	padding-left: 1em;
	margin-bottom: 1em;
	-webkit-appearance: none;
	border-radius: 0;
}
.submit,.needlogin {
	text-align: center;
	display: block;
	width: 100%;
	height: 3em;
	line-height: 3em;
	border: none;
	color: #fff;
	font-size: 1.6em;
	font-weight: 600;
	background: url(../Images/button2.png) center no-repeat;
	background-size: 100%;
}

.order_step_2 {
	display: none;
	padding-top: 8em;
	min-height: 100%;
	background: #313a50;
}
.order_step_2 h1 {
	font-size: 1.8em;
	color: #97f182;
	font-weight: normal;
}
.order_step_2 h2 {
	font-size: 1.6em;
	color: #ced7ff;
	margin: 1em 0;
	font-weight: normal;
}
.order_step_2 .footer {
	margin-top: 5em;
	border-top: 1px #46526e solid;
}

.failed h2 {
	font-size: 1.4em;
}
.failed h2 span {
	color: #97f182;
}

.weixin_tip {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 5;
	top: 0;
	left: 0;
}

/*列表页*/
body.news {
	background: #fff;
}
/*分页start*/
.paging {
	background: #fff;
	text-align: center;
	padding:  0 2em 1em;
	font-size: 1.3em;
}
.paging span {
	color: #fff;
	background: #313a50;
	padding: 1em 1em;
	margin-right: .5em;
	border-radius: 4px;
	line-height: 2;
}
.paging a,.paging label {
	color: #5b6375;
	margin-right: .5em;
}
.paging a.a1 {
	padding: 1em 1em;
	border-radius: 4px;
	background: #313a50;
	color: #fff;
	line-height: 2;
	margin-right: 5px;
}
.paging a.a1:last-child {
	background: #d23a50;
}
.paging label {
	font-weight: bold;
}
/*查看更多*/
.more {
	background: #fff;
	text-align: center;
	padding-bottom: 3em;
}
.more_link {
	padding: 1em 2.5em;
	background: #475474;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6em;
}